@import url('https://fonts.googleapis.com/css2?family=Antonio&display=swap');
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
body {
  margin: 0;
  font-family: 'Antonio', serif;
  line-height: 1.5;
}

.container {
  max-width: 980px;
  margin: auto;
}

h1 {
  font-size: 6em;
  text-align: center;
  font-weight: 900;
  margin-bottom: 0;
  border-bottom: 1px solid #000;
}

h2 {
  font-size: 2.5em;
  text-align: left;
  font-weight: 900;
  text-transform: uppercase;
}

.titulo {
  font-size: 2em;
  text-align: center;
  margin-top: 0;
}

.carta {
  color: #777;
  list-style-type: none;
  padding: 0;
}

.carta li {
  margin-bottom: 7px;
}

.carta div {
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}

.plato,
.precio {
  font-size: 1.5em;
  color: #000;
}

.plato {
  float: left;
  margin-right: 7px;
}

.precio {
  float: right;
  margin-left: 7px;
}

.footer {
  background-color: lightgray;
  padding-bottom: 50px;
}

.redes {
  list-style: none;
  display: flex;
}
.delivery {
  list-style: none;
  display: flex;
  margin-top: 10px;
}
.redes li {
  margin: 10px;
}
img{
  max-height: 500px;
}
.fa.fa-instagram {
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}
